# Global upload and download rate in KiB. "0" for unlimited.
throttle.global_down.max_rate.set_kb = 500
throttle.global_up.max_rate.set_kb = 30

# These set slots, which is other computers we are downloading from
# (I think)
throttle.max_downloads.global.set = 50
throttle.max_uploads.global.set = 10

# Check hash when download complete or on rtorrent start
check_hash = yes

# Try, but do not force, encryption
encryption = allow_incoming,try_outgoing,enable_retry

# Enable default ratio group
ratio.enable=

# Set a port, default ports in 6800s may be throttled
port_range = 49177-49177

# Set the limits
# Max etc will not trigger unless this one has been met
ratio.min.set=100
# Stop at 200%
ratio.max.set=200
# Or if 500M has been uploaded
ratio.upload.set=500M

# The directory option will determine where your torrent data will be saved
directory = ~/rtorrent/downloads

# The session option allows rTorrent to save the progess of your torrents
session = ~/rtorrent/session

# Syntax: id (your choice), starttime, intervaltime, command to execute
# This one loads files from the watched folder.
schedule = watch_directory,10,600,load_start=~/rtorrent/watch/*.torrent
