# Global upload and download rate in KiB. "0" for unlimited.
download_rate = 0
upload_rate = 30

# Maximum number of simultaneous downloads
max_downloads_global = 3
# Maximum number of simultaneous uploads
max_uploads_global = 5

# The directory option will determine where your torrent data will be saved
directory = ~/dll/rtorrent/downloads

# The session option allows rTorrent to save the progess of your torrents
session = ~/.local/share/rtorrent

# Syntax: id (your choice), starttime, intervaltime, command to execute
# This one loads files from the watched folder.
schedule = watch_directory,10,600,load_start=~/dll/rtorrent/watch/*.torrent
