/* Note that for every change, Firefox needs to be restarted. */

/* Replace font with another. Due to some terrible font matching done in
 * Firefox, it does not use the correct serif fallback font. So instead force
 * some to use my fallback explicitly.
 */
@font-face {
  font-family: 'Liberation Serif';
  src: local('Charis SIL');
}
@font-face {
  font-family: Georgia;
  src: local('Charis SIL');
}

/* Dark theme screws up input/textarea colours because of lazy webprogrammers */
input {
	-moz-appearance: none !important;
	background-color: white;
	color: black;
}

textarea {
	-moz-appearance: none !important;
	background-color: white;
	color: black;
}

@-moz-document domain(eztv.it) {
	* {
		font-family: sans-serif !important;
	}
	#header_logo {
		display: none;
	}
}

@-moz-document domain(ycombinator.com) {
	* {
		font-family: sans-serif !important;
	}
	input, textarea {
		font-family: monospace !important;
	}
	span.comment font {
		width: 30em;
		display: block;
	}
}

@-moz-document domain(reddit.com) {
	div.md {
		max-width: 30em !important;
	}
}
/* /r/thebutton, always show flair text */
@-moz-document regexp(".*reddit\.com\/r\/thebutton.*") { 
  .flair {
    max-width: 500px !important;
    padding: 0px 5px !important;
    color: #ffffff !important;
  }
  .thebutton-container {
    max-height: 60px;
  }
}
