#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Sporza livestream
Comment=The main Sporza livestream
Exec=vlc http://live.stream.vrt.be/vrt_sporza_live/smil:vrt_sporza_live.smil/playlist.m3u8
#Icon=
#StartupWMClass=play.spotify.com__browse
Categories=AudioVideo;Video;
